@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Quintessential");
body {
  background-color: #FAFAE6; }

#container {
  position: relative;
  top: 20%;
  padding: 50px; }

#timer {
  padding-top: 20px; }
  #timer #time-left {
    font-size: 3em; }

#controls {
  padding: 0 35px;
  margin: 20px 0; }
  #controls #main-controls {
    position: relative;
    top: 81%;
    right: 13%; }
  #controls #session-decrement, #controls #session-increment {
    color: black;
    border-color: #e57c7c;
    background-color: #fae6e6; }
    #controls #session-decrement:hover, #controls #session-increment:hover {
      background-color: white; }
    #controls #session-decrement:focus, #controls #session-increment:focus {
      box-shadow: none; }
  #controls #start_stop, #controls #reset {
    color: black;
    border-color: #7c7ce5;
    background-color: #e6e6fa; }
    #controls #start_stop:hover, #controls #reset:hover {
      background-color: white; }
    #controls #start_stop:focus, #controls #reset:focus {
      box-shadow: none; }
  #controls #break-decrement, #controls #break-increment {
    color: black;
    border-color: #7ce57c;
    background-color: #e6fae6; }
    #controls #break-decrement:hover, #controls #break-increment:hover {
      background-color: white; }
    #controls #break-decrement:focus, #controls #break-increment:focus {
      box-shadow: none; }

#progress-bar {
  height: 20px;
  width: 350px;
  margin: auto;
  border-radius: 50px;
  border: 1px solid #333; }

#filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in; }

.App {
  width: 600px;
  height: 722px;
  margin: 25% auto;
  padding: 20px;
  text-align: center;
  background: url("https://res.cloudinary.com/mtninja/image/upload/c_scale,w_600/v1538767977/chronograph-modified_pkl4b0.png"); }

.control-grp {
  height: 175px;
  padding: 10px; }

.btn-icon {
  pointer-events: none; }

.text-element {
  font-family: "Quintessential", monospace; }

.number-element {
  font-family: "Inconsolata", monospace;
  font-size: 1.5em; }
