@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Quintessential');
@import 'partials/variables';
@import 'partials/mixins';

body {
  background-color: $body-color;
}

#container {
  position: relative;
  top: 20%;
  padding: 50px;
}

#timer {
  padding-top: 20px;

  #time-left {
    font-size: 3em;
  }
}

#controls {
  padding: 0 35px;
  margin: 20px 0;

  #main-controls {
    position: relative;
    top: 81%;
    right: 13%;
  }

  #session-decrement, #session-increment {
    @include btn-color($sub-controls-1);
  }

  #start_stop, #reset {
    @include btn-color($main-controls);
  }

  #break-decrement, #break-increment {
    @include btn-color($sub-controls-2);
  }
}

// Progress bar styles
#progress-bar {
  height: 20px;
  width: 350px;
  margin: auto;
  border-radius: 50px;
  border: 1px solid #333;
}

#filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.App {
  width: 600px;
  height: 722px;
  margin: 25% auto;
  padding: 20px;
  text-align: center;
  background: url('https://res.cloudinary.com/mtninja/image/upload/c_scale,w_600/v1538767977/chronograph-modified_pkl4b0.png');
}

.control-grp {
  height: 175px;
  padding: 10px;
}

.btn-icon {
  pointer-events: none;
}

.text-element {
  font-family: $text-font;
}

.number-element {
  font-family: $number-font;
  font-size: 1.5em;
}