@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Quintessential");
body {
  background-color: #FAFAE6; }

#container {
  position: relative;
  top: 20%;
  padding: 50px; }
  @media screen and (max-width: 599px) {
    #container {
      padding: 70px 0px; } }

#timer {
  padding-top: 20px; }
  #timer #time-left {
    font-size: 3em; }
  @media screen and (max-width: 599px) {
    #timer {
      padding-top: 50px; }
      #timer #timer-label, #timer #time-left {
        font-size: 1.5em;
        margin: 0; } }

#controls {
  padding: 0 35px;
  margin: 20px 0; }
  #controls #main-controls {
    position: relative;
    top: 81%;
    right: 13%; }
    @media screen and (max-width: 599px) {
      #controls #main-controls {
        top: 36%;
        right: 0; } }
  #controls #session-decrement, #controls #session-increment {
    color: black;
    border-color: #e57c7c;
    background-color: #fae6e6; }
    #controls #session-decrement:hover, #controls #session-increment:hover {
      background-color: white; }
    #controls #session-decrement:focus, #controls #session-increment:focus {
      box-shadow: none; }
  #controls #start_stop, #controls #reset {
    color: black;
    border-color: #7c7ce5;
    background-color: #e6e6fa; }
    #controls #start_stop:hover, #controls #reset:hover {
      background-color: white; }
    #controls #start_stop:focus, #controls #reset:focus {
      box-shadow: none; }
  #controls #break-decrement, #controls #break-increment {
    color: black;
    border-color: #7ce57c;
    background-color: #e6fae6; }
    #controls #break-decrement:hover, #controls #break-increment:hover {
      background-color: white; }
    #controls #break-decrement:focus, #controls #break-increment:focus {
      box-shadow: none; }
  @media screen and (max-width: 599px) {
    #controls {
      padding: 0;
      margin: 0; }
      #controls #session-label, #controls #break-label {
        font-size: 1em; }
      #controls #session-label {
        padding-left: 20px; }
      #controls #break-label {
        padding-right: 20px; }
      #controls .col-4 {
        padding: 0; } }

#progress-bar {
  height: 20px;
  max-width: 350px;
  margin: auto;
  border-radius: 50px;
  border: 1px solid #333; }
  @media screen and (max-width: 599px) {
    #progress-bar {
      width: 80%;
      margin-top: 10px; } }

#filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in; }

.App {
  max-width: 600px;
  width: 100%;
  height: 722px;
  margin: 25% auto;
  padding: 20px;
  text-align: center;
  background: url("https://res.cloudinary.com/mtninja/image/upload/c_scale,w_600/v1538767977/chronograph-modified_pkl4b0.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
  @media screen and (max-width: 599px) {
    .App {
      margin: 0 auto; } }

.control-grp {
  height: 175px;
  padding: 10px; }
  @media screen and (max-width: 599px) {
    .control-grp {
      height: auto;
      padding: 0; }
      .control-grp #session-length, .control-grp #break-length {
        margin: 0; } }

.btn-icon {
  pointer-events: none; }

.text-element {
  font-family: "Quintessential", monospace; }

.number-element {
  font-family: "Inconsolata", monospace;
  font-size: 1.5em; }
